.price {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.carousel {
    width: 100%;

    @mixin hover {
        .carouselControls {
            opacity: 1;
        }
    }
}

.carouselControls {
    transition: opacity 150ms ease;
    opacity: 0.5;
}

.carouselIndicator {
    opacity: 0.6;
    background-color: white;
    width: rem(8px);
    height: rem(4px);
    transition: width 250ms ease;

    &[data-active] {
        width: rem(16px);
    }
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}